@import '../../assets/stylesheets/utils/utils';

.navbar {
	font-family: $main-font;
	height: 12rem;
	.container {
		height: 100%;
		width: 90%;
		margin: auto;
		display: flex;
		align-items: center;
	}
	.logoSection {
		display: flex;
		align-items: center;
		height: 100%;
		.logo {
			height: 4rem;
			width: 4rem;
		}
	}
	.sections {
		height: 100%;
		display: flex;
		gap: 1rem;
		align-items: center;
		margin-left: 2rem;
		.link {
			line-height: 1.2rem;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid black;
			}
		}
		.active {
			border-bottom: 1px solid black;
		}
	}

	.instagram {
		text-align: right;
		width: 100%;
		i:hover {
			color: purple;
		}
	}
}
