@import '../../assets/stylesheets/utils/utils';

.navbar {
	font-family: $main-font;
	height: 6rem;
	background-color: white;

	.container {
		height: 100%;
		width: 90%;
		margin: auto;
		display: flex;
		align-items: center;
	}
	.logoSection {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: space-between;
		width: 100%;
		.logo {
			height: 4rem;
			width: 4rem;
		}
		.burger {
			@include burger;
		}
	}
	.links {
		position: absolute;
		top: 6rem;
		left: 0;
		background-color: white;
		height: calc(var(--vh, 1vh) * 100 - 6rem);
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transition: all 0.5s ease;
		position: fixed;
	}
	&.fixed {
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
	}
	.no-scroll {
		overflow-y: hidden;
	}
	.visuallyHidden {
		opacity: 0;
	}
	.hidden {
		display: none;
	}
	.sections {
		display: flex;
		flex-direction: column;

		align-items: center;
		padding: 30vh 0;
		.link {
			margin: 0.5rem 0;
			line-height: 1.2rem;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid black;
			}
		}
		.active {
			border-bottom: 1px solid black;
		}
	}

	.instagram {
		padding-bottom: 3rem;
		i:hover {
			color: purple;
		}
	}

	@media screen and (min-width: 760px) {
		height: 12rem;
		.instagram {
			padding-bottom: 0;
		}
		.container {
			height: 100%;
			width: 90%;
			margin: auto;
			display: flex;
			align-items: center;
		}
		.logoSection {
			display: flex;
			align-items: center;
			height: 100%;
			width: auto;
			.logo {
				height: 4rem;
				width: 4rem;
			}
			.burger {
				display: none;
			}
		}
		.hidden {
			display: flex;
		}
		.visuallyHidden {
			opacity: 1;
		}
		.links {
			flex-direction: row;
			position: static;
			height: 100%;
			width: 100%;
			align-items: center;
			justify-content: space-between;
		}
		.sections {
			height: 100%;
			display: flex;
			flex-direction: row;

			align-items: center;
			margin-left: 2rem;
			.link {
				margin: 0 0.5rem;

				line-height: 1.2rem;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom: 1px solid black;
				}
			}
			.active {
				border-bottom: 1px solid black;
			}
		}
	}
}
