<section class="about">
  <div class="about-header">
    <h4>
      Guilherme Kaufmann is a Lisbon-based photographer and art director.
      With a creative and elegant aesthetic, he photographs a diverse range
      of topics for commercial and editorial clients.
    </h4>
    <p>
      He studied graphic design in London and fell in love with photography.
      In the search for his path was found his identity in photography: Lights. 
    </p>
  </div>
  <div class="about-services">
    <p><strong>Services</strong></p>
    <br>
    <p>Photography</p>
    <p>Art direction</p>
    <p>Editing</p>
  </div>
  <div class="about-bottom">
    <p>contact:</p>
    <p>kaufmann.g99@gmail.com</p>
  </div>
</section>
