<section class="show">
  <div class="top-show">
    <h1>THE BATTLE FOR PEACE</h1>
    <h5>@imkfmnn on instagram</h5>
    <p class="model">model: CatarinaTomás // @catarinabmtomas</p>
  </div>
  <div class="peace">
    <%= react_component('ImageCaroussel', images: Dir.glob('app/assets/images/peace/*').sort ) %>
  </div>
  <div class="scroller">
    <%= link_to caroline_path() do %>
      <div class="scroller-section">
        <h2>
          <i class="fas fa-chevron-left"></i>
        </h2>
        <h2 class="subtitle">Caroline</h2>
      </div>
    <% end %>
    <%= link_to fire_path() do %>
      <div class="scroller-section">
        <h2 class="subtitle">I saw fire</h2>
        <h2>
          <i class="fas fa-chevron-right"></i>
        </h2>
      </div>
    <% end %>
  </div>
</section>
