<section class="work">
  <div class="work-grid">
    <% @pages.each do |page| %>
      <div class="image-section">
        <%= link_to "/#{page.slug}" do %>
          <%= image_tag "#{page.title}/07.jpg" %>
          <h4 class="subtitle">
            <%= page.title %>
          </h4>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="work-about">
    <div class="about-header">
      <h5>
        Guilherme Kaufmann is a Lisbon-based photographer and art director.
        With a creative and elegant aesthetic, he photographs a diverse range
        of topics for commercial and editorial clients.
      </h5>
      <br>
      <h5>lets work together</h5>
    </div>
    <div class="about-bottom">
      <p>contact:</p>
      <p>kaufmann.g99@gmail.com</p>
    </div>
  </div>
</section>
