<section class="work">
  <div class="work-grid">
    <div class="image-section">
      <a href="#">
        <%= image_tag 'caroline/hope-generalscreen-7.jpg' %>
        <h2 class="subtitle">Caroline</h2>
      </a>
    </div>
    <div class="image-section">
      <a href="#">
        <%= image_tag 'peace/catarinatomas-3.jpg' %>
        <h2 class="subtitle">The battle for peace</h2>
      </a>
    </div>
    <div class="image-section">
      <a href="#">
        <%= image_tag 'fire/editadas-13.jpg' %>
        <h2 class="subtitle">I saw fire</h2>
      </a>
    </div>
    <div class="image-section">
      <a href="#">
        <%= image_tag 'randoms/brunowall.jpg' %>
        <h2 class="subtitle">Random Shots</h2>
      </a>
    </div>
  </div>
  <div class="about">
    <div class="about-header">
      <h3>
        Guilherme Kaufmann is a Lisbon-based photographer and art director.
        With a creative and elegant aesthetic, he photographs a diverse range
        of topics for commercial and editorial clients.
      </h3>
      <h3>lets work together</h3>
    </div>
    <div class="about-bottom">
      <p>contact:</p>
      <p>kaufmann.g99@gmail.com</p>
    </div>
  </div>
</section>
