// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
