@import 'utils/utils';

.show {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#caroussel {
	position: relative;
	z-index: -1;
}

.top-show {
	h1 {
		text-transform: uppercase;
		margin-bottom: 2rem;
	}
	h5 {
		margin-bottom: 2rem;
	}
	margin-bottom: 5rem;
}

.top-show + .randoms {
	margin-top: -2rem;
}

.scroller {
	margin: 3rem 0;
}

.scroller,
.scroller-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.scroller-section {
	& > * {
		margin: 0 1rem;
	}
}

.images {
	display: grid;
}
