@import 'utils/utils';

.show {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top-show {
	h1 {
		margin-bottom: 2rem;
	}
	h5 {
		margin-bottom: 2rem;
	}
	p {
	}
	margin-bottom: 5rem;
}

.scroller {
	margin: 3rem 0;
}

.scroller,
.scroller-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.scroller-section {
	gap: 2rem;
}

.caroline {
	@include show-photos(2, 3, 4, 3);
}

.fire {
	@include show-photos(2, 2, 16, 9);
}

.randoms {
	@include show-photos(2, 3, 1, 1);
}

.peace {
	@include show-photos(2, 3, 16, 9);
}
